<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav>
<a href="/ideas/add" style="float:right">添加一项</a><br>
<a href="/login" style="float:right">登录</a><br>
<a href="/register" style="float:right">注册</a>