<form action="/edit/{{id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" placeholder="主题" name="title" value="{{tit}}"><br>
    <textarea type="text" placeholder="描述" name="detail">{{detail}}</textarea><br>
    <button type="submit">编辑</button>
</form>