<img src="/images/1.jpeg" alt="">
<form action="/users/login" method="post">
    <label for="email">邮箱：</label>
    <input type="text" name='email' value=""><br>
    <label for="password">密码：</label>
    <input type="password" name='password' value=""><br>
    <button type="submit">登录</button>
</form>